In [ ]:
''''Assignment #5
Rezwan-Ul-Alam (ID: 2011659042)
Md. Nur Alam Jowel (ID: 2012355042)
Raian Ruku (ID: 2013409642)'''

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# data visualization and preprocessing

In [3]:
df = pd.read_csv('/content/gdrive/MyDrive/data/DT-Credit.csv')
df.head()

,Income,Limit,Rating,Cards,Age,Education,Own,Student,Married,Region,Balance
0,14.891,3606,283,2,34,11,No,No,Yes,South,333
1,106.025,6645,483,3,82,15,Yes,Yes,Yes,West,903
2,104.593,7075,514,4,71,11,No,No,No,West,580
3,148.924,9504,681,3,36,11,Yes,No,No,West,964
4,55.882,4897,357,2,68,16,No,No,Yes,South,331

In [4]:
print("Shape of the Data: ", df.shape )

Shape of the Data:  (400, 11)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Income     400 non-null    float64
 1   Limit      400 non-null    int64
 2   Rating     400 non-null    int64
 3   Cards      400 non-null    int64
 4   Age        400 non-null    int64
 5   Education  400 non-null    int64
 6   Own        400 non-null    object
 7   Student    400 non-null    object
 8   Married    400 non-null    object
 9   Region     400 non-null    object
 10  Balance    400 non-null    int64
dtypes: float64(1), int64(6), object(4)
memory usage: 34.5+ KB

In [6]:
for column in df.columns:
    total = df[column].isnull().sum()
    print(f"Column '{column}' has {total} null values")
    print("\n")

Column 'Income' has 0 null values


Column 'Limit' has 0 null values


Column 'Rating' has 0 null values


Column 'Cards' has 0 null values


Column 'Age' has 0 null values


Column 'Education' has 0 null values


Column 'Own' has 0 null values


Column 'Student' has 0 null values


Column 'Married' has 0 null values


Column 'Region' has 0 null values


Column 'Balance' has 0 null values

# Label Encoding

In [7]:
print(df['Own'].value_counts())
print("\n============\n")
print(df['Student'].value_counts())
print("\n============\n")
print(df['Married'].value_counts())
print("\n============\n")
print(df['Region'].value_counts())

Own
Yes    207
No     193
Name: count, dtype: int64

============

Student
No     360
Yes     40
Name: count, dtype: int64

============

Married
Yes    245
No     155
Name: count, dtype: int64

============

Region
South    199
West     102
East      99
Name: count, dtype: int64

In [8]:
df.Own.replace(('Yes', 'No'), (1, 0), inplace = True)
df.Student.replace(('Yes', 'No'), (1, 0), inplace = True)
df.Married.replace(('Yes', 'No'), (1, 0), inplace = True)
df.Region.replace(('South', 'West', 'East'), (0, 1, 2), inplace = True)

In [9]:
print(df['Own'].value_counts())
print("\n============\n")
print(df['Student'].value_counts())
print("\n============\n")
print(df['Married'].value_counts())
print("\n============\n")
print(df['Region'].value_counts())

Own
1    207
0    193
Name: count, dtype: int64

============

Student
0    360
1     40
Name: count, dtype: int64

============

Married
1    245
0    155
Name: count, dtype: int64

============

Region
0    199
1    102
2     99
Name: count, dtype: int64

In [10]:
df.sample(10)

,Income,Limit,Rating,Cards,Age,Education,Own,Student,Married,Region,Balance
235,10.503,2923,232,3,25,18,1,0,1,2,191
233,11.603,2278,187,3,71,11,0,0,1,0,0
215,41.025,4229,337,3,79,19,1,0,1,0,246
153,92.112,4612,344,3,32,17,0,0,0,0,0
64,32.164,2937,223,2,79,15,1,0,1,2,0
110,34.537,3271,250,3,57,17,1,0,1,1,47
119,23.012,1410,137,3,81,16,0,0,0,0,0
348,13.433,1134,112,3,70,14,0,0,1,0,0
108,107.986,6033,449,4,64,14,0,0,1,0,227
267,29.638,5833,433,3,29,15,1,0,1,1,942

In [11]:
print(df.columns.isnull().sum())

0

# Train Test Split

In [12]:
df.shape

(400, 11)

In [13]:
X = df.iloc[:,:10]
y = df.iloc[:, 10]

print("Shape of x: ", X.shape)
print("Shape of y: ", y.shape)

Shape of x:  (400, 10)
Shape of y:  (400,)

In [14]:
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

In [15]:
print("Shape of X_train: ", X_train.shape)
print("Shape of X_val: ", X_val.shape)
print("Shape of X_test: ", X_test.shape)
print("Shape of y_train: ", y_train.shape)
print("shape of y_val: ", y_val.shape)
print("shape of y_test: ", y_test.shape)

Shape of X_train:  (280, 10)
Shape of X_val:  (60, 10)
Shape of X_test:  (60, 10)
Shape of y_train:  (280,)
shape of y_val:  (60,)
shape of y_test:  (60,)

# Scaling

In [16]:

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_val_scaled = scaler.transform(X_val)
X_test_scaled = scaler.transform(X_test)

# MSE function

In [17]:
import numpy as np
def calculate_mse(y_true, y_pred):
      mse = np.mean((y_true - y_pred) ** 2)
      return mse

# Hyperparameter tuning using validation set for Decision Tree

In [20]:
from sklearn.svm import SVR

best_mse = float('inf')
best_c = 0
best_kernel = ''
best_degree = 0

C_values = [0.1, 1, 10, 100]
kernel_values = ['linear', 'rbf', 'poly']
degree_values = [2, 3, 4]

for kernel in kernel_values:
    if kernel == 'poly':
        for degree in degree_values:
            for C in C_values:
                svr_regressor = SVR(C=C, kernel=kernel, degree=degree)
                svr_regressor.fit(X_train_scaled, y_train)
                y_val_pred_svr = svr_regressor.predict(X_val_scaled)
                mse = calculate_mse(y_val, y_val_pred_svr)
                print(f"Kernel={kernel}, Degree={degree}, C={C}, MSE={mse}")
                if mse < best_mse:
                    best_mse = mse
                    best_c = C
                    best_kernel = kernel
                    best_degree = degree
    else:
        for C in C_values:
            svr_regressor = SVR(C=C, kernel=kernel)
            svr_regressor.fit(X_train_scaled, y_train)
            y_val_pred_svr = svr_regressor.predict(X_val_scaled)
            mse = calculate_mse(y_val, y_val_pred_svr)
            print(f"Kernel={kernel}, C={C}, MSE={mse}")
            if mse < best_mse:
                best_mse = mse
                best_c = C
                best_kernel = kernel

print("Best Kernel for SVR:", best_kernel)
print("Best Degree for SVR:", best_degree) if best_kernel == 'poly' else None
print("Best C for SVR:", best_c)
print("Best validation MSE for SVR:", best_mse)

Kernel=linear, C=0.1, MSE=187990.74289002657
Kernel=linear, C=1, MSE=61653.044658898834
Kernel=linear, C=10, MSE=10945.229594997983
Kernel=linear, C=100, MSE=13192.205659359219
Kernel=rbf, C=0.1, MSE=221248.8812902783
Kernel=rbf, C=1, MSE=212651.7982807983
Kernel=rbf, C=10, MSE=147056.81776599013
Kernel=rbf, C=100, MSE=28681.960294088534
Kernel=poly, Degree=2, C=0.1, MSE=221723.7245984064
Kernel=poly, Degree=2, C=1, MSE=217714.94070214865
Kernel=poly, Degree=2, C=10, MSE=203806.1314910725
Kernel=poly, Degree=2, C=100, MSE=225142.17483767963
Kernel=poly, Degree=3, C=0.1, MSE=218381.4726442229
Kernel=poly, Degree=3, C=1, MSE=190384.0575217857
Kernel=poly, Degree=3, C=10, MSE=137090.0422094773
Kernel=poly, Degree=3, C=100, MSE=51767.848153671024
Kernel=poly, Degree=4, C=0.1, MSE=217294.15071696002
Kernel=poly, Degree=4, C=1, MSE=195760.330376144
Kernel=poly, Degree=4, C=10, MSE=187305.8790835474
Kernel=poly, Degree=4, C=100, MSE=177249.67982935268
Best Kernel for SVR: linear
Best C for SVR: 10
Best validation MSE for SVR: 10945.229594997983

In [22]:
best_svr_model = SVR(C=best_c, kernel=best_kernel)
if best_kernel == 'poly':
    best_svr_model.degree = best_degree
best_svr_model.fit(X_train_scaled, y_train)

# Make predictions on the test set
y_test_pred_svr = best_svr_model.predict(X_test_scaled)

# Calculate MSE on the test set
test_mse = calculate_mse(y_test, y_test_pred_svr)
print("Test MSE for SVR:", test_mse)

Test MSE for SVR: 12033.412463087958

# Export datsaet

In [21]:
file_path = '/content/gdrive/MyDrive/data/Assignment5_processed_dataset_DT_credit.xlsx'
df.to_excel(file_path, index=False)