In [ ]:
''''Assignment #5
Rezwan-Ul-Alam (ID: 2011659042)
Md. Nur Alam Jowel (ID: 2012355042)
Raian Ruku (ID: 2013409642)'''

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('/content/gdrive/MyDrive/data/DT-Wage.csv')

In [4]:
df

,year,age,maritl,race,education,region,jobclass,health,health_ins,logwage,wage
0,2006,18,1. Never Married,1. White,1. < HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,2. No,4.318063,75.043154
1,2004,24,1. Never Married,1. White,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,2. No,4.255273,70.476020
2,2003,45,2. Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,1. <=Good,1. Yes,4.875061,130.982177
3,2003,43,2. Married,3. Asian,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,1. Yes,5.041393,154.685293
4,2005,50,4. Divorced,1. White,2. HS Grad,2. Middle Atlantic,2. Information,1. <=Good,1. Yes,4.318063,75.043154
...,...,...,...,...,...,...,...,...,...,...,...
2995,2008,44,2. Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,2. >=Very Good,1. Yes,5.041393,154.685293
2996,2007,30,2. Married,1. White,2. HS Grad,2. Middle Atlantic,1. Industrial,2. >=Very Good,2. No,4.602060,99.689464
2997,2005,27,2. Married,2. Black,1. < HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,2. No,4.193125,66.229408
2998,2005,27,1. Never Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,2. >=Very Good,1. Yes,4.477121,87.981033
2999,2009,55,5. Separated,1. White,2. HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,1. Yes,4.505150,90.481913

# Data Visualization, Preprocessing, Label Encoding

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        3000 non-null   int64
 1   age         3000 non-null   int64
 2   maritl      3000 non-null   object
 3   race        3000 non-null   object
 4   education   3000 non-null   object
 5   region      3000 non-null   object
 6   jobclass    3000 non-null   object
 7   health      3000 non-null   object
 8   health_ins  3000 non-null   object
 9   logwage     3000 non-null   float64
 10  wage        3000 non-null   float64
dtypes: float64(2), int64(2), object(7)
memory usage: 257.9+ KB

In [6]:
for column in df.columns:
    total = df[column].isnull().sum()
    print(f"Column '{column}' has {total} null values")
    print("\n")

Column 'year' has 0 null values


Column 'age' has 0 null values


Column 'maritl' has 0 null values


Column 'race' has 0 null values


Column 'education' has 0 null values


Column 'region' has 0 null values


Column 'jobclass' has 0 null values


Column 'health' has 0 null values


Column 'health_ins' has 0 null values


Column 'logwage' has 0 null values


Column 'wage' has 0 null values

In [7]:
from sklearn.preprocessing import LabelEncoder
label_enc=LabelEncoder()
df['maritl'] = label_enc.fit_transform(df['maritl'])
df['race'] = label_enc.fit_transform(df['race'])
df['education'] = label_enc.fit_transform(df['education'])
df['region'] = label_enc.fit_transform(df['region'])
df['jobclass'] = label_enc.fit_transform(df['jobclass'])
df['health'] = label_enc.fit_transform(df['health'])
df['health_ins'] = label_enc.fit_transform(df['health_ins'])

In [8]:
df

,year,age,maritl,race,education,region,jobclass,health,health_ins,logwage,wage
0,2006,18,0,0,0,0,0,0,1,4.318063,75.043154
1,2004,24,0,0,3,0,1,1,1,4.255273,70.476020
2,2003,45,1,0,2,0,0,0,0,4.875061,130.982177
3,2003,43,1,2,3,0,1,1,0,5.041393,154.685293
4,2005,50,3,0,1,0,1,0,0,4.318063,75.043154
...,...,...,...,...,...,...,...,...,...,...,...
2995,2008,44,1,0,2,0,0,1,0,5.041393,154.685293
2996,2007,30,1,0,1,0,0,1,1,4.602060,99.689464
2997,2005,27,1,1,0,0,0,0,1,4.193125,66.229408
2998,2005,27,0,0,2,0,0,1,0,4.477121,87.981033
2999,2009,55,4,0,1,0,0,0,0,4.505150,90.481913

In [9]:
df.describe()

,year,age,maritl,race,education,region,jobclass,health,health_ins,logwage,wage
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.0,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,2005.791000,42.414667,0.981333,0.261333,2.010000,0.0,0.485333,0.714000,0.305667,4.653905,111.703608
std,2.026167,11.542406,0.811914,0.627564,1.215618,0.0,0.499868,0.451965,0.460766,0.351753,41.728595
min,2003.000000,18.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,3.000000,20.085537
25%,2004.000000,33.750000,1.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,4.447158,85.383940
50%,2006.000000,42.000000,1.000000,0.000000,2.000000,0.0,0.000000,1.000000,0.000000,4.653213,104.921507
75%,2008.000000,51.000000,1.000000,0.000000,3.000000,0.0,1.000000,1.000000,1.000000,4.857332,128.680488
max,2009.000000,80.000000,4.000000,3.000000,4.000000,0.0,1.000000,1.000000,1.000000,5.763128,318.342430

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        3000 non-null   int64
 1   age         3000 non-null   int64
 2   maritl      3000 non-null   int64
 3   race        3000 non-null   int64
 4   education   3000 non-null   int64
 5   region      3000 non-null   int64
 6   jobclass    3000 non-null   int64
 7   health      3000 non-null   int64
 8   health_ins  3000 non-null   int64
 9   logwage     3000 non-null   float64
 10  wage        3000 non-null   float64
dtypes: float64(2), int64(9)
memory usage: 257.9 KB

In [11]:
df['year'] = df['year'].astype('float64')
df['age'] = df['age'].astype('float64')
df['maritl'] = df['maritl'].astype('float64')
df['race'] = df['race'].astype('float64')
df['education'] = df['education'].astype('float64')
df['region'] = df['region'].astype('float64')
df['jobclass'] = df['jobclass'].astype('float64')
df['health'] = df['health'].astype('float64')
df['health_ins'] = df['health_ins'].astype('float64')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        3000 non-null   float64
 1   age         3000 non-null   float64
 2   maritl      3000 non-null   float64
 3   race        3000 non-null   float64
 4   education   3000 non-null   float64
 5   region      3000 non-null   float64
 6   jobclass    3000 non-null   float64
 7   health      3000 non-null   float64
 8   health_ins  3000 non-null   float64
 9   logwage     3000 non-null   float64
 10  wage        3000 non-null   float64
dtypes: float64(11)
memory usage: 257.9 KB

# Train Test Split

In [13]:
X = df.iloc[:,:10]
y = df.iloc[:, 10]

print("Shape of x: ", X.shape)
print("Shape of y: ", y.shape)

Shape of x:  (3000, 10)
Shape of y:  (3000,)

In [14]:
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

In [15]:
print("Shape of X_train: ", X_train.shape)
print("Shape of X_val: ", X_val.shape)
print("Shape of X_test: ", X_test.shape)
print("Shape of y_train: ", y_train.shape)
print("shape of y_val: ", y_val.shape)
print("shape of y_test: ", y_test.shape)

Shape of X_train:  (2100, 10)
Shape of X_val:  (450, 10)
Shape of X_test:  (450, 10)
Shape of y_train:  (2100,)
shape of y_val:  (450,)
shape of y_test:  (450,)

# MinMax Scaler

In [16]:

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_val_scaled = scaler.transform(X_val)
X_test_scaled = scaler.transform(X_test)

# `MSE function`

In [17]:
import numpy as np
def calculate_mse(y_true, y_pred):
      mse = np.mean((y_true - y_pred) ** 2)
      return mse

# Hyperparameter tuning using validation set for SVR

In [19]:
from sklearn.svm import SVR

best_mse = float('inf')
best_c = 0
best_kernel = ''
best_degree = 0

C_values = [0.1, 1, 10, 100]
kernel_values = ['linear', 'rbf', 'poly']
degree_values = [2, 3, 4]

for kernel in kernel_values:
    if kernel == 'poly':
        for degree in degree_values:
            for C in C_values:
                svr_regressor = SVR(C=C, kernel=kernel, degree=degree)
                svr_regressor.fit(X_train_scaled, y_train)
                y_val_pred_svr = svr_regressor.predict(X_val_scaled)
                mse = calculate_mse(y_val, y_val_pred_svr)
                print(f"Kernel={kernel}, Degree={degree}, C={C}, MSE={mse}")
                if mse < best_mse:
                    best_mse = mse
                    best_c = C
                    best_kernel = kernel
                    best_degree = degree
    else:
        for C in C_values:
            svr_regressor = SVR(C=C, kernel=kernel)
            svr_regressor.fit(X_train_scaled, y_train)
            y_val_pred_svr = svr_regressor.predict(X_val_scaled)
            mse = calculate_mse(y_val, y_val_pred_svr)
            print(f"Kernel={kernel}, C={C}, MSE={mse}")
            if mse < best_mse:
                best_mse = mse
                best_c = C
                best_kernel = kernel

print("Best Kernel for SVR:", best_kernel)
print("Best Degree for SVR:", best_degree) if best_kernel == 'poly' else None
print("Best C for SVR:", best_c)
print("Best validation MSE for SVR:", best_mse)

Kernel=linear, C=0.1, MSE=1233.2700484277107
Kernel=linear, C=1, MSE=453.8356706630519
Kernel=linear, C=10, MSE=159.59611385606863
Kernel=linear, C=100, MSE=145.41143076211216
Kernel=rbf, C=0.1, MSE=1424.636255013224
Kernel=rbf, C=1, MSE=823.1005401704331
Kernel=rbf, C=10, MSE=141.14408743516964
Kernel=rbf, C=100, MSE=31.97329790625338
Kernel=poly, Degree=2, C=0.1, MSE=995.8929170135606
Kernel=poly, Degree=2, C=1, MSE=187.09396611609432
Kernel=poly, Degree=2, C=10, MSE=44.04601110196592
Kernel=poly, Degree=2, C=100, MSE=27.523511236382863
Kernel=poly, Degree=3, C=0.1, MSE=704.8493500145561
Kernel=poly, Degree=3, C=1, MSE=136.05081214639515
Kernel=poly, Degree=3, C=10, MSE=11.799489163700112
Kernel=poly, Degree=3, C=100, MSE=1.26394695472098
Kernel=poly, Degree=4, C=0.1, MSE=423.73974856894165
Kernel=poly, Degree=4, C=1, MSE=129.52938560577024
Kernel=poly, Degree=4, C=10, MSE=29.792053622268366
Kernel=poly, Degree=4, C=100, MSE=5.994144687513872
Best Kernel for SVR: poly
Best Degree for SVR: 3
Best C for SVR: 100
Best validation MSE for SVR: 1.26394695472098

In [21]:
best_svr_model = SVR(C=best_c, kernel=best_kernel)
if best_kernel == 'poly':
    best_svr_model.degree = best_degree
best_svr_model.fit(X_train_scaled, y_train)

# Make predictions on the test set
y_test_pred_svr = best_svr_model.predict(X_test_scaled)

# Calculate MSE on the test set
test_mse = calculate_mse(y_test, y_test_pred_svr)
print("Test MSE for SVR:", test_mse)

Test MSE for SVR: 0.8096585861480677

# Export dataset

In [20]:
file_path = '/content/gdrive/MyDrive/data/Assignment5_processed_dataset_DT_wage.xlsx'
df.to_excel(file_path, index=False)